node_modules
frontend/node_modules
backend/venv
backend/__pycache__
*.sqlite
*.sqlite-journal
.env
.git
.github
.vscode
dist
frontend/dist
backend/output
backend/input
backend/uploads
backend/temp_input_*
README.md
docs
docs_old
Model Training and Development
growth_resources
imgs
CardioLens_Backend_Testing.ipynb
LICENSE
